In [1]:
import pandas as pd
import numpy as np

In [2]:
import findspark 
findspark.init()

import pyspark

In [3]:
 import time

 start = time.time()

 time.sleep(0.5)

 end = time.time()

 print(end - start)

0.5007753372192383

In [4]:
from datetime import timedelta

start = time.monotonic()

time.sleep(1)

end = time.monotonic()

print(timedelta(seconds = end - start))

0:00:01.001261

In [5]:
start = time.time()

time.sleep(0.5)

end = time.time()

start2 = time.time()

time.sleep(0.501)

end2 = time.time()

print(end - start > end2 - start2)

False

In [6]:
import pandas as pd
df = pd.read_csv("../Tascas/Data/DelayedFlights.csv", nrows=1000)

In [7]:
df.head(10)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,10,2008,1,3,4,706.0,700,916.0,915,WN,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [8]:
df.tail()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
995,1354,2008,1,3,4,1553.0,1545,1617.0,1605,WN,...,2.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
996,1355,2008,1,3,4,1836.0,1750,1902.0,1810,WN,...,3.0,13.0,0,N,0,0.0,0.0,6.0,0.0,46.0
997,1356,2008,1,3,4,1933.0,1835,1955.0,1855,WN,...,2.0,10.0,0,N,0,0.0,0.0,3.0,0.0,57.0
998,1357,2008,1,3,4,1121.0,1055,1151.0,1125,WN,...,3.0,17.0,0,N,0,1.0,0.0,0.0,0.0,25.0
999,1358,2008,1,3,4,808.0,800,832.0,825,WN,...,4.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [9]:
df = df.sample(frac = 1)
df

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,248,2008,1,3,4,1348.0,1330,1455.0,1435,WN,...,2.0,14.0,0,N,0,8.0,0.0,2.0,0.0,10.0
605,811,2008,1,3,4,2239.0,2115,2358.0,2240,WN,...,2.0,10.0,0,N,0,7.0,0.0,0.0,0.0,71.0
907,1233,2008,1,3,4,2132.0,2050,2222.0,2150,WN,...,4.0,7.0,0,N,0,23.0,0.0,0.0,0.0,9.0
966,1312,2008,1,3,4,1100.0,1050,1210.0,1205,WN,...,7.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
362,499,2008,1,3,4,643.0,630,726.0,720,WN,...,9.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [10]:
df.columns

Index(['Unnamed: 0', 'Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime',
       'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum',
       'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

In [11]:
df.DepTime

292    1159.0
767     837.0
281    1851.0
739    1628.0
142    1838.0
        ...
177    1348.0
605    2239.0
907    2132.0
966    1100.0
362     643.0
Name: DepTime, Length: 1000, dtype: float64

In [12]:
df.dtypes

Unnamed: 0             int64
Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn               float64
TaxiOut              float64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtype: object

In [13]:
df.values

array([[397, 2008, 1, ..., nan, nan, nan],
       [1013, 2008, 1, ..., nan, nan, nan],
       [385, 2008, 1, ..., nan, nan, nan],
       ...,
       [1233, 2008, 1, ..., 0.0, 0.0, 9.0],
       [1312, 2008, 1, ..., nan, nan, nan],
       [499, 2008, 1, ..., nan, nan, nan]], dtype=object)

In [14]:
df2 = df.head(10)

In [15]:
df2

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0
580,784,2008,1,3,4,1947.0,1935,2110.0,2100,WN,...,4.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
223,310,2008,1,3,4,1558.0,1530,2049.0,2040,WN,...,4.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
893,1210,2008,1,3,4,636.0,630,755.0,750,WN,...,7.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
672,886,2008,1,3,4,1355.0,1305,1451.0,1410,WN,...,4.0,8.0,0,N,0,39.0,0.0,0.0,0.0,2.0

In [16]:
df["ArrDelay"].head()

292     0.0
767     6.0
281    14.0
739    64.0
142    35.0
Name: ArrDelay, dtype: float64

In [17]:
df[0:10]

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0
580,784,2008,1,3,4,1947.0,1935,2110.0,2100,WN,...,4.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
223,310,2008,1,3,4,1558.0,1530,2049.0,2040,WN,...,4.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
893,1210,2008,1,3,4,636.0,630,755.0,750,WN,...,7.0,18.0,0,N,0,NaN,NaN,NaN,NaN,NaN
8,15,2008,1,3,4,1029.0,1020,1021.0,1010,WN,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
672,886,2008,1,3,4,1355.0,1305,1451.0,1410,WN,...,4.0,8.0,0,N,0,39.0,0.0,0.0,0.0,2.0

In [18]:
df[df["ArrDelay"] < 60].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0
580,784,2008,1,3,4,1947.0,1935,2110.0,2100,WN,...,4.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [19]:
df[df["ArrDelay"] > 60].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
541,742,2008,1,3,4,1544.0,1405,1825.0,1650,WN,...,5.0,15.0,0,N,0,51.0,0.0,0.0,0.0,44.0
676,890,2008,1,3,4,2221.0,2050,135.0,20,WN,...,3.0,9.0,0,N,0,44.0,0.0,0.0,0.0,31.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
23,37,2008,1,3,4,1812.0,1650,1927.0,1815,WN,...,6.0,11.0,0,N,0,3.0,0.0,0.0,0.0,69.0

In [20]:
df[df["ArrDelay"] == 60].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
437,610,2008,1,3,4,1942.0,1840,2205.0,2105,WN,...,4.0,9.0,0,N,0,60.0,0.0,0.0,0.0,0.0
997,1356,2008,1,3,4,1933.0,1835,1955.0,1855,WN,...,2.0,10.0,0,N,0,0.0,0.0,3.0,0.0,57.0
61,96,2008,1,3,4,2039.0,1930,155.0,55,WN,...,5.0,14.0,0,N,0,0.0,0.0,22.0,0.0,38.0
310,423,2008,1,3,4,2117.0,2010,2355.0,2255,WN,...,4.0,10.0,0,N,0,0.0,0.0,1.0,0.0,59.0

In [21]:
df[df["ArrDelay"] != 60].head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0

In [22]:
df[df["Origin"]=="ATL"].head()

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [23]:
df[(df["Origin"]=="ATL") & (df["ArrDelay"] > 60)].head()

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [24]:
df[df.Origin.isin(["HOU","ATL"])].head()

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [25]:
df[pd.isna(df["CRSDepTime"])].head()

Empty DataFrame
Columns: [Unnamed: 0, Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 30 columns]

In [26]:
len(df[pd.isna(df["CRSDepTime"])])

0

In [27]:
#TRANSFORMACIONES

In [28]:
df["HoursDelay"] = round(df["ArrDelay"] / 60)

In [29]:
df["HoursDelay"].head()

292    0.0
767    0.0
281    0.0
739    1.0
142    1.0
Name: HoursDelay, dtype: float64

In [30]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,HoursDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN,0.0
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0,1.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0,1.0

In [31]:
del(df["HoursDelay"])

In [32]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0

In [33]:
df.drop(["Diverted","Cancelled","Year"],axis=1)

,Unnamed: 0,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,1,3,4,1159.0,1150,1635.0,1635,WN,2624,...,SAT,1210,3.0,12.0,N,NaN,NaN,NaN,NaN,NaN
767,1013,1,3,4,837.0,830,951.0,945,WN,304,...,LAX,337,8.0,9.0,N,NaN,NaN,NaN,NaN,NaN
281,385,1,3,4,1851.0,1830,2059.0,2045,WN,314,...,PHX,370,3.0,6.0,N,NaN,NaN,NaN,NaN,NaN
739,976,1,3,4,1628.0,1520,1729.0,1625,WN,1311,...,BUR,325,1.0,10.0,N,17.0,0.0,0.0,0.0,47.0
142,203,1,3,4,1838.0,1800,1930.0,1855,WN,2730,...,ONT,197,3.0,17.0,N,0.0,0.0,0.0,0.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,248,1,3,4,1348.0,1330,1455.0,1435,WN,341,...,SAN,258,2.0,14.0,N,8.0,0.0,2.0,0.0,10.0
605,811,1,3,4,2239.0,2115,2358.0,2240,WN,3491,...,OMA,423,2.0,10.0,N,7.0,0.0,0.0,0.0,71.0
907,1233,1,3,4,2132.0,2050,2222.0,2150,WN,3155,...,GEG,279,4.0,7.0,N,23.0,0.0,0.0,0.0,9.0
966,1312,1,3,4,1100.0,1050,1210.0,1205,WN,2560,...,PIT,267,7.0,16.0,N,NaN,NaN,NaN,NaN,NaN
362,499,1,3,4,643.0,630,726.0,720,WN,1235,...,DEN,533,9.0,11.0,N,NaN,NaN,NaN,NaN,NaN

In [34]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,2008,1,3,4,1159.0,1150,1635.0,1635,WN,...,3.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
767,1013,2008,1,3,4,837.0,830,951.0,945,WN,...,8.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
281,385,2008,1,3,4,1851.0,1830,2059.0,2045,WN,...,3.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
739,976,2008,1,3,4,1628.0,1520,1729.0,1625,WN,...,1.0,10.0,0,N,0,17.0,0.0,0.0,0.0,47.0
142,203,2008,1,3,4,1838.0,1800,1930.0,1855,WN,...,3.0,17.0,0,N,0,0.0,0.0,0.0,0.0,35.0

In [35]:
df1 = df.drop(["Diverted","Cancelled","Year"],axis=1)

In [36]:
df1.drop(["Month","DayofMonth"],axis=1, inplace=True)

In [37]:
df1.drop(0)

,Unnamed: 0,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,4,1159.0,1150,1635.0,1635,WN,2624,N693SW,156.0,...,SAT,1210,3.0,12.0,N,NaN,NaN,NaN,NaN,NaN
767,1013,4,837.0,830,951.0,945,WN,304,N326SW,74.0,...,LAX,337,8.0,9.0,N,NaN,NaN,NaN,NaN,NaN
281,385,4,1851.0,1830,2059.0,2045,WN,314,N229WN,68.0,...,PHX,370,3.0,6.0,N,NaN,NaN,NaN,NaN,NaN
739,976,4,1628.0,1520,1729.0,1625,WN,1311,N605SW,61.0,...,BUR,325,1.0,10.0,N,17.0,0.0,0.0,0.0,47.0
142,203,4,1838.0,1800,1930.0,1855,WN,2730,N273WN,52.0,...,ONT,197,3.0,17.0,N,0.0,0.0,0.0,0.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,248,4,1348.0,1330,1455.0,1435,WN,341,N315SW,67.0,...,SAN,258,2.0,14.0,N,8.0,0.0,2.0,0.0,10.0
605,811,4,2239.0,2115,2358.0,2240,WN,3491,N523SW,79.0,...,OMA,423,2.0,10.0,N,7.0,0.0,0.0,0.0,71.0
907,1233,4,2132.0,2050,2222.0,2150,WN,3155,N449WN,50.0,...,GEG,279,4.0,7.0,N,23.0,0.0,0.0,0.0,9.0
966,1312,4,1100.0,1050,1210.0,1205,WN,2560,N789SW,70.0,...,PIT,267,7.0,16.0,N,NaN,NaN,NaN,NaN,NaN
362,499,4,643.0,630,726.0,720,WN,1235,N600WN,103.0,...,DEN,533,9.0,11.0,N,NaN,NaN,NaN,NaN,NaN

In [38]:
df1.drop(range(0,100))

,Unnamed: 0,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
292,397,4,1159.0,1150,1635.0,1635,WN,2624,N693SW,156.0,...,SAT,1210,3.0,12.0,N,NaN,NaN,NaN,NaN,NaN
767,1013,4,837.0,830,951.0,945,WN,304,N326SW,74.0,...,LAX,337,8.0,9.0,N,NaN,NaN,NaN,NaN,NaN
281,385,4,1851.0,1830,2059.0,2045,WN,314,N229WN,68.0,...,PHX,370,3.0,6.0,N,NaN,NaN,NaN,NaN,NaN
739,976,4,1628.0,1520,1729.0,1625,WN,1311,N605SW,61.0,...,BUR,325,1.0,10.0,N,17.0,0.0,0.0,0.0,47.0
142,203,4,1838.0,1800,1930.0,1855,WN,2730,N273WN,52.0,...,ONT,197,3.0,17.0,N,0.0,0.0,0.0,0.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,248,4,1348.0,1330,1455.0,1435,WN,341,N315SW,67.0,...,SAN,258,2.0,14.0,N,8.0,0.0,2.0,0.0,10.0
605,811,4,2239.0,2115,2358.0,2240,WN,3491,N523SW,79.0,...,OMA,423,2.0,10.0,N,7.0,0.0,0.0,0.0,71.0
907,1233,4,2132.0,2050,2222.0,2150,WN,3155,N449WN,50.0,...,GEG,279,4.0,7.0,N,23.0,0.0,0.0,0.0,9.0
966,1312,4,1100.0,1050,1210.0,1205,WN,2560,N789SW,70.0,...,PIT,267,7.0,16.0,N,NaN,NaN,NaN,NaN,NaN
362,499,4,643.0,630,726.0,720,WN,1235,N600WN,103.0,...,DEN,533,9.0,11.0,N,NaN,NaN,NaN,NaN,NaN

In [39]:
df= df.drop(range(0,100))

In [40]:
dfATL= df[df.Origin == "ATL"]
dfHOU= df[df.Origin == "HOU"]

In [41]:
newdf = dfATL.append(dfHOU)

In [42]:
newdf.Origin

Series([], Name: Origin, dtype: object)

In [43]:
#GROUPBY

In [44]:
df.groupby(by= "DayOfWeek")["ArrDelay"].max()

DayOfWeek
4    288.0
Name: ArrDelay, dtype: float64

In [45]:
df.groupby(by= "DayOfWeek")["ArrDelay"].min()

DayOfWeek
4   -22.0
Name: ArrDelay, dtype: float64

In [46]:
df.groupby(by= "DayOfWeek")["ArrDelay"].mean()

DayOfWeek
4    33.256667
Name: ArrDelay, dtype: float64

In [47]:
df.groupby(by= "DayOfWeek")["ArrDelay"].count()

DayOfWeek
4    900
Name: ArrDelay, dtype: int64

In [48]:
df.groupby(by= "DayOfWeek")["ArrDelay"].describe()

           count       mean        std   min   25%   50%   75%    max
DayOfWeek
4          900.0  33.256667  35.605734 -22.0  10.0  24.0  48.0  288.0

In [49]:
df.groupby(by= "DayOfWeek")["ArrDelay","DepTime"].mean()

<ipython-input-49-d861bdb97a95>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby(by= "DayOfWeek")["ArrDelay","DepTime"].mean()

            ArrDelay  DepTime
DayOfWeek
4          33.256667  1519.88

In [50]:
df.groupby(by= "DayOfWeek")["ArrDelay"].max() - df.groupby(by= "DayOfWeek")["ArrDelay"].min()

DayOfWeek
4    310.0
Name: ArrDelay, dtype: float64

In [51]:
dfATLHOU = df[df.Origin.isin(["ATL","HOU"])]

In [52]:
dfATLHOU.groupby(by= ["DayOfWeek", "Origin"])["ArrDelay"].mean()

Series([], Name: ArrDelay, dtype: float64)

In [53]:
mygropupby= dfATLHOU.groupby(by= ["DayOfWeek", "Origin"])["ArrDelay"]

In [54]:
mygropupby.describe()

AttributeError: 'Index' object has no attribute 'remove_unused_levels'

In [ ]:
#INFORMACION FALTANTE O MISSING DATA

In [55]:
df = pd.read_csv("../Tascas/Data/DelayedFlights.csv", nrows=1e6) #1millon de datos

In [56]:
dfduplicate = df.append(df)

In [57]:
dfduplicate = dfduplicate.sample(frac=1)

In [58]:
dfclean = dfduplicate.drop_duplicates()

In [59]:
len(dfclean) == len(df)

True

In [60]:
len(dfclean)

1000000

In [61]:
#ELIMINACION DE DATOS

In [62]:
dfclean.drop_duplicates(subset = "DayofMonth")

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
540898,1694449,2008,3,26,3,1935.0,1835,2117.0,2030,AA,...,11.0,11.0,0,N,0,11.0,0.0,0.0,0.0,36.0
631248,2015235,2008,4,12,6,1337.0,1320,1618.0,1609,UA,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
283094,903472,2008,2,25,1,1148.0,1141,1900.0,1921,DL,...,7.0,15.0,0,N,0,NaN,NaN,NaN,NaN,NaN
860782,2912544,2008,5,10,6,749.0,705,1011.0,945,AA,...,8.0,6.0,0,N,0,26.0,0.0,0.0,0.0,0.0
503728,1579624,2008,3,30,7,1707.0,1555,1845.0,1730,MQ,...,8.0,11.0,0,N,0,0.0,0.0,3.0,0.0,72.0
163125,527389,2008,1,20,7,2121.0,2100,2334.0,2325,AA,...,5.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
292372,931320,2008,2,9,6,1931.0,1925,2045.0,2050,EV,...,5.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
617804,1950802,2008,4,22,2,1115.0,1047,1435.0,1344,OH,...,27.0,14.0,0,N,0,0.0,0.0,51.0,0.0,0.0
865240,2927879,2008,5,21,3,856.0,850,1713.0,1715,AS,...,4.0,22.0,0,N,0,NaN,NaN,NaN,NaN,NaN
974129,3259000,2008,6,4,3,28.0,2353,813.0,759,US,...,11.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
703182,2300088,2008,4,13,7,1419.0,1350,1526.0,1459,AA,...,7.0,16.0,0,N,0,0.0,0.0,0.0,0.0,27.0
131950,428652,2008,1,15,2,1314.0,1243,1451.0,1437,NW,...,5.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
445331,1389200,2008,3,27,4,1106.0,940,1206.0,1045,OO,...,9.0,12.0,0,N,0,0.0,0.0,0.0,0.0,81.0
440881,1371183,2008,3,16,7,1121.0,940,1452.0,1329,OO,...,5.0,18.0,0,N,0,83.0,0.0,0.0,0.0,0.0
866936,2934914,2008,5,5,1,1758.0,1720,1933.0,1902,B6,...,5.0,13.0,0,N,0,3.0,0.0,0.0,0.0,28.0
852016,2887357,2008,5,7,3,1211.0,1130,1805.0,1715,AA,...,5.0,25.0,0,N,0,0.0,0.0,21.0,0.0,29.0
400656,1242987,2008,3,23,7,1508.0,1500,1915.0,1855,WN,...,8.0,9.0,0,N,0,8.0,0.0,12.0,0.0,0.0
441483,1373458,2008,3,17,1,1220.0,1214,1435.0,1415,OO,...,4.0,25.0,0,N,0,0.0,0.0,0.0,0.0,20.0
937601,3146593,2008,6,29,7,2100.0,1845,145.0,2342,YV,...,7.0,11.0,0,N,0,123.0,0.0,0.0,0.0,0.0
776479,2556349,2008,5,31,6,920.0,845,1110.0,1107,OH,...,10.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
536863,1683324,2008,3,28,5,2246.0,2215,2348.0,2305,AA,...,11.0,22.0,0,N,0,31.0,0.0,12.0,0.0,0.0
127883,414128,2008,1,14,1,1621.0,1610,1748.0,1805,MQ,...,5.0,12.0,0,N,0,NaN,NaN,NaN,NaN,NaN
640551,2045965,2008,4,3,4,806.0,800,922.0,914,US,...,10.0,21.0,0,N,0,NaN,NaN,NaN,NaN,NaN
681596,2215094,2008,4,24,4,853.0,825,1056.0,1028,NW,...,8.0,13.0,0,N,0,28.0,0.0,0.0,0.0,0.0
191277,623442,2008,2,8,5,814.0,800,1103.0,1050,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
154493,503332,2008,1,18,5,1311.0,1305,1554.0,1525,AA,...,6.0,9.0,0,N,0,0.0,6.0,23.0,0.0,0.0
435427,1347284,2008,3,1,6,1359.0,1353,1455.0,1457,OO,...,8.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
121751,400603,2008,1,6,7,1818.0,1710,1925.0,1810,MQ,...,13.0,27.0,0,N,0,0.0,0.0,7.0,0.0,68.0
827042,2782077,2008,5,11,7,1257.0,1125,1622.0,1505,MQ,...,7.0,15.0,0,N,0,77.0,0.0,0.0,0.0,0.0
267698,849346,2008,2,2,6,1655.0,1455,1824.0,1706,US,...,2.0,9.0,0,N,0,78.0,0.0,0.0,0.0,0.0
256323,818482,2008,2,19,2,1346.0,1056,1510.0,1214,UA,...,7.0,15.0,0,N,0,0.0,0.0,176.0,0.0,0.0

In [63]:
df.dropna()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,3352897,2008,6,8,7,2047.0,2020,2237.0,2220,FL,...,6.0,18.0,0,N,0,0.0,0.0,0.0,0.0,17.0
999995,3352901,2008,6,8,7,1659.0,1642,1941.0,1859,FL,...,14.0,15.0,0,N,0,0.0,0.0,42.0,0.0,0.0
999996,3352904,2008,6,8,7,1002.0,910,1158.0,1056,FL,...,4.0,25.0,0,N,0,52.0,0.0,10.0,0.0,0.0
999997,3352908,2008,6,8,7,1525.0,1512,1715.0,1659,FL,...,5.0,19.0,0,N,0,0.0,0.0,3.0,0.0,13.0
999998,3352910,2008,6,8,7,1908.0,1843,2056.0,2032,FL,...,4.0,19.0,0,N,0,0.0,0.0,0.0,0.0,24.0

In [64]:
df.dropna(thresh=25)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,3352901,2008,6,8,7,1659.0,1642,1941.0,1859,FL,...,14.0,15.0,0,N,0,0.0,0.0,42.0,0.0,0.0
999996,3352904,2008,6,8,7,1002.0,910,1158.0,1056,FL,...,4.0,25.0,0,N,0,52.0,0.0,10.0,0.0,0.0
999997,3352908,2008,6,8,7,1525.0,1512,1715.0,1659,FL,...,5.0,19.0,0,N,0,0.0,0.0,3.0,0.0,13.0
999998,3352910,2008,6,8,7,1908.0,1843,2056.0,2032,FL,...,4.0,19.0,0,N,0,0.0,0.0,0.0,0.0,24.0
999999,3352911,2008,6,8,7,2130.0,2115,2312.0,2301,FL,...,6.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [65]:
df.dropna(thresh=len(df.columns)-2)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,3352897,2008,6,8,7,2047.0,2020,2237.0,2220,FL,...,6.0,18.0,0,N,0,0.0,0.0,0.0,0.0,17.0
999995,3352901,2008,6,8,7,1659.0,1642,1941.0,1859,FL,...,14.0,15.0,0,N,0,0.0,0.0,42.0,0.0,0.0
999996,3352904,2008,6,8,7,1002.0,910,1158.0,1056,FL,...,4.0,25.0,0,N,0,52.0,0.0,10.0,0.0,0.0
999997,3352908,2008,6,8,7,1525.0,1512,1715.0,1659,FL,...,5.0,19.0,0,N,0,0.0,0.0,3.0,0.0,13.0
999998,3352910,2008,6,8,7,1908.0,1843,2056.0,2032,FL,...,4.0,19.0,0,N,0,0.0,0.0,0.0,0.0,24.0

In [66]:
df.dropna(subset = ["DepTime"])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,3352901,2008,6,8,7,1659.0,1642,1941.0,1859,FL,...,14.0,15.0,0,N,0,0.0,0.0,42.0,0.0,0.0
999996,3352904,2008,6,8,7,1002.0,910,1158.0,1056,FL,...,4.0,25.0,0,N,0,52.0,0.0,10.0,0.0,0.0
999997,3352908,2008,6,8,7,1525.0,1512,1715.0,1659,FL,...,5.0,19.0,0,N,0,0.0,0.0,3.0,0.0,13.0
999998,3352910,2008,6,8,7,1908.0,1843,2056.0,2032,FL,...,4.0,19.0,0,N,0,0.0,0.0,0.0,0.0,24.0
999999,3352911,2008,6,8,7,2130.0,2115,2312.0,2301,FL,...,6.0,13.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [67]:
#NUMPY

In [68]:
valoraciones = np.array([[8,7,8,5],[2,6,8,1],[8,8,9,5]])

In [69]:
valoraciones

array([[8, 7, 8, 5],
       [2, 6, 8, 1],
       [8, 8, 9, 5]])

In [70]:
valoraciones[0][1]

7

In [71]:
valoraciones[0,1]

7

In [72]:
valoraciones2 = np.array([[[8,7,8,5],[2,6,8,1],[8,8,9,5]],[[2,6,4,9],[2,6,8,1],[8,8,9,5]]])

In [73]:
valoraciones2

array([[[8, 7, 8, 5],
        [2, 6, 8, 1],
        [8, 8, 9, 5]],

       [[2, 6, 4, 9],
        [2, 6, 8, 1],
        [8, 8, 9, 5]]])

In [74]:
valoraciones2[0,1,2]

8

In [75]:
np.zeros((3,2,4))

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.]]])

In [76]:
valoraciones2 + np.ones((3,2))

ValueError: operands could not be broadcast together with shapes (2,3,4) (3,2)

In [77]:
np.mean(valoraciones2)

5.958333333333333

In [78]:
np.mean(valoraciones2, axis = 0)

array([[5. , 6.5, 6. , 7. ],
       [2. , 6. , 8. , 1. ],
       [8. , 8. , 9. , 5. ]])

In [79]:
np.mean(valoraciones2, axis = 1)

array([[6.        , 7.        , 8.33333333, 3.66666667],
       [4.        , 6.66666667, 7.        , 5.        ]])

In [80]:
np.mean(valoraciones2, axis = 2)

array([[7.  , 4.25, 7.5 ],
       [5.25, 4.25, 7.5 ]])

In [81]:
np.reshape([1,2,3,4,5,6,7,8,9,10,11,12],(3,2,2))

array([[[ 1,  2],
        [ 3,  4]],

       [[ 5,  6],
        [ 7,  8]],

       [[ 9, 10],
        [11, 12]]])

In [82]:
np.median(df["Columna1"])

KeyError: 'Columna1'

In [83]:
np.random.rand(2,2)

array([[0.51141226, 0.10937927],
       [0.49036668, 0.4411173 ]])