In [5]:
import pandas as pd 

consumidores = [("A","Movil"),("B","Movil"),("A","Portatil"),("A","Tablet"),("B","Tablet"),("C","portatil"),("D","Smartwatch"),("E","Consola")]

con_labels = ["Consumidor", "Producto"]

con_df = pd.DataFrame.from_records(consumidores, columns = con_labels)

productores = [("a","Movil"),("a","Smartwatch"),("a","Tablet"),("b","Portatil"),("c","Sobremesa"),("c","Portatil")]

prod_labels = ["Productor", "Producto"]

prod_df = pd.DataFrame.from_records(productores, columns = prod_labels)

In [6]:
con_df

  Consumidor    Producto
0          A       Movil
1          B       Movil
2          A    Portatil
3          A      Tablet
4          B      Tablet
5          C    portatil
6          D  Smartwatch
7          E     Consola

In [7]:
prod_df

  Productor    Producto
0         a       Movil
1         a  Smartwatch
2         a      Tablet
3         b    Portatil
4         c   Sobremesa
5         c    Portatil

In [8]:
pd.merge(con_df,prod_df, on = "Producto", how = "outer")

  Consumidor    Producto Productor
0          A       Movil         a
1          B       Movil         a
2          A    Portatil         b
3          A    Portatil         c
4          A      Tablet         a
5          B      Tablet         a
6          C    portatil       NaN
7          D  Smartwatch         a
8          E     Consola       NaN
9        NaN   Sobremesa         c

In [10]:
pd.merge(con_df,prod_df, on="Producto", how="inner")

  Consumidor    Producto Productor
0          A       Movil         a
1          B       Movil         a
2          A    Portatil         b
3          A    Portatil         c
4          A      Tablet         a
5          B      Tablet         a
6          D  Smartwatch         a

In [11]:
con_df

  Consumidor    Producto
0          A       Movil
1          B       Movil
2          A    Portatil
3          A      Tablet
4          B      Tablet
5          C    portatil
6          D  Smartwatch
7          E     Consola

In [13]:
prod_df

  Productor    Producto
0         a       Movil
1         a  Smartwatch
2         a      Tablet
3         b    Portatil
4         c   Sobremesa
5         c    Portatil

In [14]:
pd.merge(con_df,prod_df, on="Producto", how="right")

  Consumidor    Producto Productor
0          A       Movil         a
1          B       Movil         a
2          D  Smartwatch         a
3          A      Tablet         a
4          B      Tablet         a
5          A    Portatil         b
6          A    Portatil         c
7        NaN   Sobremesa         c

In [15]:
pd.merge(con_df,prod_df, on="Producto", how="left")

  Consumidor    Producto Productor
0          A       Movil         a
1          B       Movil         a
2          A    Portatil         b
3          A    Portatil         c
4          A      Tablet         a
5          B      Tablet         a
6          C    portatil       NaN
7          D  Smartwatch         a
8          E     Consola       NaN