In [1]:
import pandas as pd 
import numpy as np 
from joblib import Parallel, delayed

df = pd.read_csv("../Tascas/Data/DelayedFlights.csv", nrows=100000)

In [2]:
def counter(routine):
    start = time.monotonic()
    routine
    end = time.monotonic()
    print(timedelta(seconds = end - start))

In [3]:
df_sub = df[['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']]
df_sub.head(10)

   CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
0           NaN           NaN       NaN            NaN                NaN
1           NaN           NaN       NaN            NaN                NaN
2           NaN           NaN       NaN            NaN                NaN
3           2.0           0.0       0.0            0.0               32.0
4           NaN           NaN       NaN            NaN                NaN
5          10.0           0.0       0.0            0.0               47.0
6           NaN           NaN       NaN            NaN                NaN
7           8.0           0.0       0.0            0.0               72.0
8           NaN           NaN       NaN            NaN                NaN
9           3.0           0.0       0.0            0.0               12.0

In [4]:
def retraso_maximo(fila):
    if not np.isnan(fila).any():
        names = ['CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']
        return names[fila.index(max(fila))]
    else:
        return "None"

In [5]:
%%time
results = []
for fila in df_sub.values.tolist():
    results.append(retraso_maximo(fila))

CPU times: user 769 ms, sys: 11.1 ms, total: 780 ms
Wall time: 778 ms

In [6]:
#results

In [7]:
%%time
result = Parallel(n_jobs = 8, backend = "multiprocessing")(map(delayed(retraso_maximo),df_sub.values.tolist()))

CPU times: user 519 ms, sys: 102 ms, total: 622 ms
Wall time: 717 ms

In [8]:
#results